@import "tailwindcss";

@font-face {
    font-family: "Letter Gothic";
    src: url("/fonts/letter-gothic.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gothic No.13";
    src: url("/fonts/gothic-n13.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@layer base {
    :root {
        --background: #214033;
        --foreground: #e0e2df;
        --yellow: #fff5cc;
        --pink: #ffdfe0;
    }

    body {
        background: var(--background);
        color: var(--foreground);
        font-family: "Letter Gothic", monospace !important;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overflow-x: hidden;
    }

    main {
        flex: 1;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Gothic No.13", monospace !important;
    }
}

.container {
    max-width: 1280px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.btn-primary {
    background-color: var(--yellow);
    border: 2px solid var(--yellow);
    color: black;
    padding: 0.75rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-secondary {
    background-color: var(--pink);
    border: 2px solid var(--pink);
    color: black;
    padding: 0.75rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
